
.push {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.backBtn {
  background-color: #ff4c01;
  font-size: 16px;
  text-align: right;
}
.backBtn:hover {
  color: #000;
}
.menu-right .backBtn {
  text-align: left;
}
.menu-top .backBtn,
.menu-bottom .backBtn {
  text-align: left;
}

.menu {
  border-right: 1px solid #ffd8b3f3;
  background-color: #ff4c01;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
  position: fixed;
  top: 0;
  z-index: 10;
  width: 200px;
  height: 100%;
}
.menu a {
  display: block;
  color: #fff;
  padding: 16px;
  border-top: 1px solid #ffd8b3f3;
  text-decoration: none;
  position: relative;
  z-index: 11;
}
.menu a:last-child {
  border-bottom: 1px solid #ffd8b3f3;
}
.menu a:hover,
.menu a:active {
  background-color: rgba(255, 140, 45, 0.274);
}
.menu-left {
  left: -280px;
}
.menu-left.left-open {
  left: 0;
}
.menu-right {
  right: -280px;
}
.menu-right.right-open {
  right: 0;
}
.menu-top {
  width: 100%;
  top: -100%;
}
.menu-top.top-open {
  top: 0;
}
.menu-bottom {
  width: 100%;
  top: 100%;
}
.menu-bottom.bottom-open {
  top: 0;
}
.push {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.push-left {
  left: -280px;
}
.push-left.pushleft-open {
  left: 0;
}
.push-toleft {
  left: 280px;
}
.push-right {
  right: -280px;
}
.push-right .backBtn {
  text-align: left;
}
.push-right.pushright-open {
  right: 0;
}
.push-toright {
  left: -280px;
}